= simple_form_for(@citation) do |f|
  = f.error_notification

  .form-inputs
    = f.input :citation_num
    = f.input :issue_date
    = f.input :street_location
    = f.input :violation
    = f.input :geometry_id

  .form-actions
    = f.button :submit
