%h1 City of Albuquerque Parking Citations 
%h2#time_period Time Period:
%h2#total_citations Total Citations:

#chart
#dataset-picker

:javascript
  $(document).ready(function() {
  var margin = { top: 50, right: 0, bottom: 100, left: 30 },
          width = 960 - margin.left - margin.right,
          height = 430 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 24),
          legendElementWidth = gridSize*2,
          buckets = 9,
          colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          days = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
          times = ["12a", "1a", "2a", "3a", "4a", "5a", "6a", "7a", "8a", "9a", "10a", "11a", "12p", "1p", "2p", "3p", "4p", "5p", "6p", "7p", "8p", "9p", "10p", "11p"];
          datasets = ["Last Week", "Last Month", "Last 3 Months", "Last 6 Months", "Last 9 Months", "Last Year"];

      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });

      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 8 && i <= 17) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });

      //var heatmapChart = d3.json(my_data, function(error, data) {
      var heatmapChart = function(data) {
        data.forEach(function(d) {
          //console.log("day" + parseInt(d.day));
          //console.log("hour" + d.hour);
          //console.log("value" + d.value);
          return {
            day: +d.day,
            hour: +d.hour,
            value: +d.value
          }
        });

          //var totalSum = d3.sum(data, function(d) { return d.value; });

          var colorScale = d3.scale.quantile()
              .domain([0, buckets - 1, d3.max(data, function (d) { return d.value; })])
              .range(colors);

          var cards = svg.selectAll(".hour")
              .data(data, function(d) {return d.day+':'+d.hour;});

          cards.append("title");

          cards.enter().append("rect")
              .attr("x", function(d) { return (d.hour - 1) * gridSize; })
              .attr("y", function(d) { return (d.day - 1) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "hour bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          cards.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.value); });

          cards.select("title").text(function(d) { return d.value; });
          
          cards.exit().remove();

          var legend = svg.selectAll(".legend")
              .data([0].concat(colorScale.quantiles()), function(d) { return d; });

          legend.enter().append("g")
              .attr("class", "legend");

          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

          legend.append("text")
            .attr("class", "timeLabel mono axis axis-worktime")
            .text(function(d) { return "≥ " + Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);

          legend.exit().remove();

        //});  
        };  

      
      var datasetpicker = d3.select("#dataset-picker").selectAll(".dataset-button")
        .data(datasets);

      (function() {
        //console.log("ON LOAD -- Last Week");
        $("#time_period").text("Time Period: Last Week");
        var citationsPath = "/citations";
        $.getJSON( citationsPath, {
          time_scope: "Last Week",
          format: "json"
        })
        .done(function( data ) {
          var cur_total = 0;
          $.each(data, function() {
            cur_total += this.value;
          }); 
          $("#total_citations").text("Total Citations: " + cur_total);
          heatmapChart(data);
        });
      })();

      datasetpicker.enter()
        .append("input")
        .attr("value", function(d){ 
          //console.log("datatsetpicker " + d);
          return d; })
        .attr("type", "button")
        .attr("class", "dataset-button")
        .on("click", function(d) {
          $("#time_period").text("Time Period: Loading...");
          $("#total_citations").text("Total Citations: Loading...");
          (function() {
            var citationsPath = "/citations";
            $.getJSON( citationsPath, {
              time_scope: d,
              format: "json"
            })
            .done(function( data ) {
              var cur_total = 0;
              $.each(data, function() {
                cur_total += this.value;
              }); 
              $("#total_citations").text("Total Citations: " + cur_total);
              $("#time_period").text("Time Period: " + d);
              heatmapChart(data);
            });
          })();
        });
  });
