%p#notice= notice

%p
  %b Citation num:
  = @citation.citation_num
%p
  %b Issue date:
  = @citation.issue_date
%p
  %b Street location:
  = @citation.street_location
%p
  %b Violation:
  = @citation.violation
%p
  %b Geometry:
  = @citation.geometry_id

= link_to 'Edit', edit_citation_path(@citation)
\|
= link_to 'Back', citations_path
